.post-img{
    height: 550px;
    overflow: hidden;
    margin-top: 20px;
}
.post-img img{
    width: 100%;
    height: 550px;
}
.blog-post-content{
    background-color: rgb(242, 242, 242) ;
    border-radius: 10px;
}
.blog-post-content h1 {
    text-align: center;
}
.blog-post-content p{
    margin: 30px;
    font-size: 25px;
}
.content-right img{
   margin-left: 530px;
}
.blog-post-content img{
    margin-top: 10px;
}

