.article-contact{
    background-color: rgb(248, 248, 250);
    
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
    
}
.article-contact{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-contact button{
    align-items: center;
}
#social{
    margin-bottom: 0px;
    
}
.form-box input, textarea{
    width: 250px;
}