@media screen and (max-width: 1250px) {
    .navigation{
        flex-direction: column;
    }
    .nav-left{
        flex-direction: column;
        margin: 19px;
        text-align: center;
    }
    .content-left{
        margin-left: 15px;
        margin-right: 15px;
    }
    .content-right{
        display: none;
        
    }
    .sub-article{
        flex-direction: column;
        align-items: center;
        
    }
    .content{
        margin: 45px 0;
    }
    .post-img img{
        height: 190px;
    }
    .post-img{
        height: auto;
    }
}